h1{
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    text-align: center;
}

.table{
    margin: auto;
}

td{
    height: 200px;
    padding: 100px;
    border: 5px solid white;
}

#c1{
    background-color: #F4F1DE;
}
#c2{
    background-color: #E07A5F;
}
#c3{
    background-color: #3D405B;
}
#c4{
    background-color: #81B29A;
}
#c5{
    background-color: #F2CC8F;
}