/* 

CSS Learning Level 2 part 1

h1{
    font-family: "Arial";
}

p{
    font-family: cursive;
}

body{
    font-size: 20px;
}

#two{
    font-size: 1.0em;
}

p{
    font-style: italic;
    font-weight: bold;
}

h1{
    text-align: center;
}
 */


/* CSS learning Level 2 part 2 */


h1{
    font-family: "Arial";
}

p{
    font-family: 'Barrio', cursive;
}
